<!-- .list-group>.list-group-item*3{Text} -->

<div class="list-group">


  <div class="list-group-item" 
    (click)="select(playlist)"
    [class.active]=" playlist.id == selected "
    *ngFor="let playlist of playlists; index as i">

    {{i+1}}. {{playlist.name}}

    <span class="close float-right" (click)="remove(playlist,$event)">&times;</span>
  </div>


</div>
{{selected}}