<ng-container *ngIf="field.touched || field.dirty">

  <!-- <p *ngFor="let error of field.errors | keyvalue">
    {{ getErrorMessage(error.key, error.value)}}
  </p> -->

  <p *ngIf="field.hasError('required')">Field is required</p>
  <p *ngIf="field.getError('minlength') let error">
    Name has to be at least {{ error.requiredLength }} characters
  </p>

  <ng-content></ng-content>

</ng-container>