<!-- <pre>{{ playlist | json }}</pre> -->
<!-- <pre>{{ formRef.value | json }}</pre> -->

<form #formRef="ngForm" (ngSubmit)="sendSave(formRef.value)">
  
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel" required [maxlength]="40" minlength="3" appTestValidator="kota">
    
    {{ 40 - nameRef.value?.length }} / 40
    
    <pre>{{ nameRef.errors | json }}</pre>

    <!-- <div *ngIf="veryExpensiveLongOperation() let placki = $implicit">
      {{placki}}
    </div> -->

    <div *ngIf="nameRef.hasError('required')">Field is required</div>
    <div *ngIf="nameRef.getError('minlength') as error">Name has to be at least {{error.requiredLength}} characters</div>
  </div>
  
  <div class="form-group">
    <label>
      <input type="checkbox" [ngModel]="playlist.public" name="public"> Public
    </label>
  </div>

  <!-- <button *ngIf="extrasVisible  =! extrasVisible">Toggle extras</button>

  <ul ngModelGroup="extras" *ngIf="extrasVisible">
    <li *ngFor="let field of [1,2]">
      <input type="text" ngModel [name]="field">
    </li>
  </ul> -->


  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" [ngModel]="playlist.description" name="description"></textarea>
  </div>

  <button class="btn btn-success" type="submit">Save</button>
  <button class="btn btn-danger" (click)=" sendCancel()">Cancel</button>

</form>