<!-- [routerLink]="['album',album.id]" -->

<img *ngIf="album.images.length" 
     [routerLink]="['/album',album.id]"
     [src]="album.images[0].url" class="card-img-top">

<div class="card-body" (click)="selectAlbum()">
  <h5 class="card-title">{{album.name}}</h5>
</div>