<div class="card-group">
  <ng-container *ngFor="let album of results let i = index">

    <app-album-card  class="card" [album]="album">
    </app-album-card>

    <div style="flex-basis: 100%" *ngIf=" (i+1) % 4 === 0"></div>

  </ng-container>
</div>