<p>tabs-examples works!</p>
<!-- .card*3>.card-header{Title}+.collapse>.card-body{Text} -->

<dl appTabs>

  <ng-container appTab>
    <dt appTabHeader>Header</dt>
    <dd *appTabContentTpl="let tab let x = placki">
      Content  
      <button (click)="tab.toggle()">Toggle</button>
    </dd>
  </ng-container>

  <ng-container appTab>
    <dt appTabHeader>Header</dt>
    <dd *appTabContentTpl>Content</dd>
  </ng-container>


</dl>

<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>


<div class="accordion" appTabs>

  <div class="card" appTab>
    <div class="card-header" appTabHeader>Title</div>
    <div *appTabContentTpl>
      <div class="card-body">Text</div>
    </div>
  </div>

  <div class="card" appTab>
    <div class="card-header" appTabHeader>Title</div>
    <div *appTabContentTpl>
      <div class="card-body">Text</div>
    </div>
  </div>

  <div class="card" appTab>
    <div class="card-header" appTabHeader>Title</div>
    <div *appTabContentTpl>
      <div class="card-body">Text</div>
    </div>
  </div>

</div>






<app-tabs #tabsRef>

  <app-tab title="Tab A">
    Tab A Content
  </app-tab>

  <app-tab [title]=" 'Tab B' ">
    Tab B Content
  </app-tab>

  <app-tab title="Tab C">
    Tab C Content
  </app-tab>

</app-tabs>

<button (click)="tabsRef.toggle(tabsRef.tabsList[1])">
  Select 2
</button>