
<div class="row">
  <div class="col">

    <app-search-form 
      [searchQuery]="queryChanges | async" 
      (searchQueryChange)=" searchAlbums( $event ) ">
    </app-search-form>

  </div>
</div>

<div class="row">
  <div class="col">

    <div class="alert alert-danger" *ngIf="message">
      {{message}}
    </div>

    <ng-container *ngIf="resultsChanges | async as results">

      <p>Found {{(results)?.length}} results</p>

      <app-search-results [results]="results"></app-search-results>

    </ng-container>

  </div>
</div>

<!-- 
    {{zmienna}}
    <input type="text" id="" [value]="zmienna"> -->