<!-- dl>(dt+dd)*3 -->

<app-card #plackiREf>
  <!-- {{ plackiREf.open() }} -->

  <ng-container ngProjectAs="title">
    {{playlist.name}}
  </ng-container>

  <dl [attr.data-id]="playlist.id" [title]="playlist.name">

    <dt>Name:</dt>
    <dd [style.font-size.rem]=" 1.5 ">{{ playlist.name | titlecase  }}</dd>

    <dt>Public:</dt>
    <dd [ngClass]="{
      public:playlist.public,
      private:!playlist.public
    }">

      {{ playlist.public | yesno:'Yeah!':'Nope.' | uppercase }}
    </dd>
    <!-- <dd>{{ playlist.public? 'Yes':'No' }}</dd> -->

    <dt>Description</dt>
    <dd>{{ playlist.description }}</dd>
  </dl>


  <ng-container ngProjectAs="footer">
    <button class="btn btn-info" (click)="sendEdit()" #closeCardRef>Edit</button>
  </ng-container>


</app-card>



<!-- <app-card>Placki</app-card>
<app-card>Banany</app-card>
<app-card>Ala ma kota</app-card> -->

<!-- <ul>
  <li>Text</li>
  <ng-container *ngIf="false">
    <li>Text</li>
    <li>Text</li>
  </ng-container>
  <li>Text</li>
</ul> -->