/* You can add global styles to this file, and also import other style files */

// p {
//   color: red;
// }

// @import "node_modules/bootstrap/scss/bootstrap";

// $enable-rounded: false;
// $enable-shadows: true;

// @import "functions";
// @import "variables";
// @import "mixins";
// @import "root";
// @import "reboot";
// @import "type";
// @import "images";
// @import "grid";
// @import "tables";
// @import "forms";
// @import "buttons";
// @import "input-group";
// @import "nav";
// @import "navbar";

// @import "transitions";
// @import "alert";

// @import "close";

// @import "utilities";

// @import "card";
// @import "list-group";


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
