<div class="row">
  <div class="col">
    <app-album-card *ngIf="album$ | async as album" [album]="album"></app-album-card>

    <!-- <button (click)="refresh()">Refresh</button> -->
  </div>
  <div class="col" *ngIf="album$ | async as album; else loadingRef">


    <h1>{{album?.name}}</h1>

    <audio controls="true" #playerRef [volume]="volume"
    [src]="currentTrack?.preview_url" class="w-100"></audio>

    <div class="list-group">
      <div class="list-group-item" 
      *ngFor="let track of album.tracks?.items" (click)="play(track)">
        {{track.track_number}}. {{track.name}}
      </div>
    </div>

  </div>
</div>


<ng-template #loadingRef>
  <p>Please wait ... Loading ...</p>
</ng-template>