<!-- .row>.col*2 -->

<div class="row">

  <div class="col">
    <app-playlist-list [items]="playlists" [selected]="selected?.id" (selectedChange)="selectPlaylistById($event.id)"
      (removed)="removePlaylist($event.id)">

    </app-playlist-list>
  </div>

  <div class="col">

    <div *ngIf=" mode == 'show'">
      <app-playlist-details [playlist]="selected" (edit)=" editMode() ">
      </app-playlist-details>

    </div>

    <div *ngIf="mode == 'edit' ">
      <app-playlist-form [playlist]="selected" 
      (save)="savePlaylist($event)"
      (cancel)="showMode()"></app-playlist-form>
    </div>


  </div>

</div>