<div class="form-group" [formGroup]="searchForm">

  <div class="input-group mb-3">

    <input type="text" class="form-control" placeholder="Search" formControlName="query">

  </div>

  <div *ngIf="searchForm.pending">Validating ...</div>


  <app-field-errors [field]="searchForm.get('query')">

    <p *ngIf="searchForm.get('query')?.getError('censor') let error">
      Cannot contain word "{{error.badword}}"
    </p>

  </app-field-errors>


</div>


<!-- <div class="input-group-append">
      <button class="btn btn-outline-secondary">Search</button>
    </div> -->
<!-- <pre>{{searchForm.get('query')?.errors | json }}</pre> -->

<!-- <ng-container *ngIf="searchForm.get('query') as field">
    <ng-container *ngIf="field.touched || field.dirty">

      <p *ngIf="field.hasError('required')">Field is required</p>
      <p *ngIf="field.getError('minlength') let error">
        Name has to be at least {{ error.requiredLength }} characters
      </p>

      <p *ngIf="field.getError('censor') let error">
        Cannot contain word "{{error.badword}}"
      </p>

    </ng-container>
  </ng-container> -->

<!--  -->


<!--  -->


<!-- <ng-container *appFieldErrors="searchForm.get('query')">
    <p *appFieldErrorMessage="'required'">Field is required</p>
    <p *appFieldErrorMessage="'minlength' let error">
      Name has to be at least {{ error.requiredLength }} characters
    </p>
  </ng-container> -->

<!--  -->


<!--  <div formGroupName="extra" *ngIf="false">
    <select class="form-control" formControlName="type">
      <option value="album">Album</option>
      <option value="artist">Artist</option>
    </select>

    <h3>Markets</h3>
    <div formArrayName="markets" class="list-group">
      <div [formGroupName]="i" class="input-group" *ngFor="let c of markets.controls index as i">
        <input type="text" class="form-control" formControlName="code">
        <div class="input-group-append ">
          <span class="close input-group-text" (click)="removeMarket(i)">&times;</span>
        </div>
      </div>
    </div>

    <button (click)="addMarket()">+ Add market</button>
  </div> -->



<!-- <ng-template></ng-template> -->